body{
    margin: 0 auto;
    box-sizing: border-box;
} 

/*botão prucurar do navbar*/
.botao{
    background-color: rgb(112, 112, 112);
    color:#fff;
    border-radius: 10px;
    border: none;
}
/*fim do botão*/

/*ajustes para dispositivos móveis*/
@media(max-width:640px){
    .navio{
        width: 335px;
        margin: 0 auto;
        margin-top: 15px;
    }
}
/*fim dos ajustes*/

.navio{
    background-color: rgb(38, 35, 35);
    padding: 20px;
}
.frete img{
    margin: 0 auto;
    position: relative;
    width:1375px;
    bottom: 290px;
    left: -55px;
      
}
@media(max-width:1400px){
    .frete img{
        position: relative;
        width: 1145px;
        margin-left: 8px;
        bottom: 240px;
    }
}
@media(max-width:1200px){
    .frete img{
        position: relative;
        width: 1010px;
        left: -50px;
        bottom: 215px;
    }
}
@media(max-width:1014px){
    .frete img{
        position: relative;
        width: 820px;
        margin-left: -60px;
        bottom: 180px;
    }
}
@media(max-width:992px){
    .frete img{
        position: relative;
        width: 700px;
        margin-left: 20px;
        bottom: 150px;
    }
}
@media(max-width:768px){
    .frete img{
        position: relative;
        width: 600px;
        bottom: 120px;
        margin: 0 auto;

    }
    .card{
        margin: 0 auto;
    }
}
@media(max-width:641px){
    .frete img{
        position: relative;
        width: 360px;
        bottom: 75px;
        left:-46px
        
    }
    .card{
        margin: 0 auto;
        left: -8px;
    }
}