body{
    margin: 0 auto;
    box-sizing: border-box;
} 

/*botão prucurar do navbar*/
.botao{
    background-color: rgb(112, 112, 112);
    color:#fff;
    border-radius: 10px;
    border: none;
}
/*fim do botão*/

/*ajustes para dispositivos móveis*/
@media(max-width:640px){
    .navio{
        width: 335px;
        margin: 0 auto;
        margin-top: 15px;
    }
}
/*fim dos ajustes*/

.navio{
    background-color: rgb(38, 35, 35);
    padding: 20px;
}
.frete{
    width: 1000px;
    height: 500px;
    
}
